<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384636661813-vmc1p0pmttpif8u7kgqp1nbdid0vfpeg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384636661813-vmc1p0pmttpif8u7kgqp1nbdid0vfpeg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>384636661813-0iiinhb5uif3g2rto8u4d4tt8uuacfho.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDwINYQ-gzaduQOdd8CetbZIBQeMTTjX3c</string>
	<key>GCM_SENDER_ID</key>
	<string>384636661813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.backslova.flutterPlansApp</string>
	<key>PROJECT_ID</key>
	<string>flutterappdeploy-c5c57</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterappdeploy-c5c57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384636661813:ios:5fcd059db3164f472f817c</string>
</dict>
</plist>